<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<type name="Magento\Catalog\Model\Product">
    <plugin name="web4pro_slogin" type="Web4pro\SLogin\Plugin\HideButton" sortOrder="1"/>
</type>
</config>
